USE [master]
GO
/****** Object:  Database [socialsites]    Script Date: 5/12/2019 3:52:44 PM ******/
CREATE DATABASE [socialsites]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'socialsites', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.PRIYANSHU\MSSQL\DATA\socialsites.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'socialsites_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.PRIYANSHU\MSSQL\DATA\socialsites_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [socialsites].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [socialsites]
GO
/****** Object:  Table [dbo].[addExperience]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[addExperience](
	[ex_id] [int] IDENTITY(1,1) NOT NULL,
	[c_name] [varchar](44) NULL,
	[title] [varchar](45) NULL,
	[time_st] [int] NULL,
	[time_form] [int] NULL,
	[location] [varchar](45) NULL,
	[message] [varchar](100) NULL,
	[Email] [varchar](40) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[apply_job]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[apply_job](
	[ap_job] [int] IDENTITY(1,1) NOT NULL,
	[email_id] [varchar](33) NULL,
	[ph_number] [int] NULL,
	[resume] [varchar](40) NULL,
	[Full_name] [varchar](45) NULL,
	[employee_email] [varchar](45) NULL,
	[jobP_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ciity]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ciity](
	[City_id] [int] IDENTITY(1,1) NOT NULL,
	[City_name] [varchar](44) NULL,
	[state_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[company_profile]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company_profile](
	[cp_id] [int] IDENTITY(1,1) NOT NULL,
	[email_id] [varchar](34) NULL,
	[profile_pic] [varchar](44) NULL,
	[c_discription] [varchar](1000) NULL,
	[website_url] [varchar](44) NULL,
	[c_size] [varchar](44) NULL,
	[industry] [varchar](55) NULL,
	[qualties] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[company_reg]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company_reg](
	[CR_ID] [int] IDENTITY(1,1) NOT NULL,
	[c_name] [varchar](50) NULL,
	[c_email_Id] [varchar](34) NULL,
	[password] [varchar](33) NULL,
	[c_address] [varchar](55) NULL,
	[c_website] [varchar](33) NULL,
	[c_start] [varchar](34) NULL,
	[c_title] [varchar](33) NULL,
	[reg_time] [varchar](33) NULL,
	[status] [varchar](33) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[country]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[country](
	[Cuntry_id] [int] IDENTITY(1,1) NOT NULL,
	[Cuntry_name] [varchar](45) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[education]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[education](
	[int] [int] IDENTITY(1,1) NOT NULL,
	[University] [varchar](60) NULL,
	[Degree] [varchar](50) NULL,
	[Study_type] [varchar](44) NULL,
	[start_year] [int] NULL,
	[end_year] [int] NULL,
	[discrption] [varchar](100) NULL,
	[Email] [varchar](44) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employee]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[employee](
	[name] [varchar](44) NULL,
	[address] [varchar](44) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[friend]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[friend](
	[F_id] [int] IDENTITY(1,1) NOT NULL,
	[send_email] [varchar](44) NULL,
	[friend_email] [varchar](44) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[google]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[google](
	[g_id] [int] IDENTITY(1,1) NOT NULL,
	[m_id] [int] NULL,
	[m_name] [varchar](44) NULL,
	[address] [varchar](33) NULL,
	[image] [varchar](33) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[interview_question]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[interview_question](
	[qes_id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](1000) NULL,
	[answer] [varchar](2000) NULL,
	[question_type] [varchar](150) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[jobpost]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jobpost](
	[j_title] [varchar](55) NULL,
	[j_discription] [varchar](300) NULL,
	[work_ex] [int] NULL,
	[annual] [int] NULL,
	[vacancies] [int] NULL,
	[location] [varchar](100) NULL,
	[industry] [varchar](50) NULL,
	[functional_area] [varchar](100) NULL,
	[job_role] [varchar](50) NULL,
	[company_name] [varchar](60) NULL,
	[qualification] [varchar](100) NULL,
	[Canidate_profile] [varchar](300) NULL,
	[month_ex] [int] NULL,
	[max_salary] [int] NULL,
	[email_id] [varchar](34) NULL,
	[job_id] [int] IDENTITY(1,1) NOT NULL,
	[hr_name] [varchar](44) NULL,
	[post_time] [varchar](44) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[login_user]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[login_user](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[email_Id] [varchar](33) NULL,
	[password] [varchar](33) NULL,
	[user_type] [varchar](33) NULL,
	[status] [varchar](33) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[message]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[message](
	[m_id] [int] IDENTITY(1,1) NOT NULL,
	[email_id] [varchar](33) NULL,
	[chat] [varchar](100) NULL,
	[dis_id] [varchar](33) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[notification]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[notification](
	[n_id] [int] IDENTITY(1,1) NOT NULL,
	[email_id] [varchar](33) NULL,
	[message] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[post]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[post](
	[email_id] [varchar](40) NULL,
	[post_image] [varchar](33) NULL,
	[send_time] [varchar](33) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[profile]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[profile](
	[p_id] [int] IDENTITY(1,1) NOT NULL,
	[Email_id] [varchar](44) NULL,
	[profile_pic] [varchar](44) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Registration_user]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Registration_user](
	[R_id] [int] IDENTITY(1,1) NOT NULL,
	[f_name] [varchar](33) NOT NULL,
	[l_name] [varchar](33) NULL,
	[Email] [varchar](33) NULL,
	[password] [varchar](22) NULL,
	[country] [varchar](33) NULL,
	[Stat] [varchar](33) NULL,
	[working_type] [varchar](33) NULL,
	[company_name] [varchar](33) NULL,
	[prof_type] [varchar](33) NULL,
	[univer] [varchar](33) NULL,
	[programe] [varchar](33) NULL,
	[start_year] [varchar](33) NULL,
	[end_year] [varchar](33) NULL,
	[Registration_time] [varchar](33) NULL,
	[clint_ipaddress] [varchar](33) NULL,
	[city] [varchar](40) NULL,
	[status] [varchar](33) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[State]    Script Date: 5/12/2019 3:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[State](
	[State_id] [int] IDENTITY(1,1) NOT NULL,
	[State_name] [varchar](45) NULL,
	[Cuntry_id] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[addExperience] ON 

INSERT [dbo].[addExperience] ([ex_id], [c_name], [title], [time_st], [time_form], [location], [message], [Email]) VALUES (13, N'HCL Techonolgy pvt.ltd', N'Java Devloper', 2018, 2020, N'Noida Uttar pardesh', N'I am working form MNC (Multi National company).', N'kamalrastogi865@gmail.com')
INSERT [dbo].[addExperience] ([ex_id], [c_name], [title], [time_st], [time_form], [location], [message], [Email]) VALUES (1013, N'Pvitra.Madial Collage', N'Sinner docter', 2018, 2020, N'Loni Ghazibad in utter pardesh', N'It is big hospital of Ghazibad', N'karan@gmail.com')
INSERT [dbo].[addExperience] ([ex_id], [c_name], [title], [time_st], [time_form], [location], [message], [Email]) VALUES (12, N'HCL Techonolgy pvt.ltd', N'Software Devlopment', 2012, 2020, N'sector 16,noida ,utter pardesh', N'', N'priyanshu101r@gmail.com')
SET IDENTITY_INSERT [dbo].[addExperience] OFF
SET IDENTITY_INSERT [dbo].[apply_job] ON 

INSERT [dbo].[apply_job] ([ap_job], [email_id], [ph_number], [resume], [Full_name], [employee_email], [jobP_id]) VALUES (1, N'fgf', 555, N'UploadResume/1383501730.pdf', NULL, NULL, NULL)
INSERT [dbo].[apply_job] ([ap_job], [email_id], [ph_number], [resume], [Full_name], [employee_email], [jobP_id]) VALUES (3, N'priyanshu101r@gmail,com', 555, N'UploadResume/531656948.pdf', N'priyanshu rastogi', N'jack@gmail.com', 2)
INSERT [dbo].[apply_job] ([ap_job], [email_id], [ph_number], [resume], [Full_name], [employee_email], [jobP_id]) VALUES (4, N'ddd', 555, N'UploadResume/1641947830.pdf', N'web devlopment', N'jack@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[apply_job] OFF
SET IDENTITY_INSERT [dbo].[ciity] ON 

INSERT [dbo].[ciity] ([City_id], [City_name], [state_id]) VALUES (1, N'Ghazibad', 1)
INSERT [dbo].[ciity] ([City_id], [City_name], [state_id]) VALUES (2, N'Agra', 1)
INSERT [dbo].[ciity] ([City_id], [City_name], [state_id]) VALUES (3, N'Aligarh', 1)
SET IDENTITY_INSERT [dbo].[ciity] OFF
SET IDENTITY_INSERT [dbo].[company_profile] ON 

INSERT [dbo].[company_profile] ([cp_id], [email_id], [profile_pic], [c_discription], [website_url], [c_size], [industry], [qualties]) VALUES (1, N'tata40@gmail.com', N'company_logo/1020201597.jpg', NULL, NULL, NULL, N'Information Technology', N',raja,raja')
INSERT [dbo].[company_profile] ([cp_id], [email_id], [profile_pic], [c_discription], [website_url], [c_size], [industry], [qualties]) VALUES (2, N'jack@gmail.com', N'company_logo/1086802322.jpg', N'this company started was from 1998 in delhi .today this company is very large and relvedcchjd ', N'www.ignou.ac.in', N'Startup', N'Information Technology', N'good')
INSERT [dbo].[company_profile] ([cp_id], [email_id], [profile_pic], [c_discription], [website_url], [c_size], [industry], [qualties]) VALUES (1002, N'rajeshkhna@gmail.com', N'company_logo/298126828.jpg', NULL, NULL, NULL, NULL, N',raja,raja')
SET IDENTITY_INSERT [dbo].[company_profile] OFF
SET IDENTITY_INSERT [dbo].[company_reg] ON 

INSERT [dbo].[company_reg] ([CR_ID], [c_name], [c_email_Id], [password], [c_address], [c_website], [c_start], [c_title], [reg_time], [status]) VALUES (1, N'Hcl technology pct.ltd', N'emall.cdkjdhfkd', N'kk', N'ythjhtr', N'rer', N'2004', N'Software engenirring', N'Feb 22 2019  2:14PM', N'Active')
INSERT [dbo].[company_reg] ([CR_ID], [c_name], [c_email_Id], [password], [c_address], [c_website], [c_start], [c_title], [reg_time], [status]) VALUES (2, N'rajubhai104t@gmail.com', N'new', N'ddd', N'Noida utterpardesh', N'www.djfsdk', N'2007', N'ghgfh', N'Feb 22 2019  2:29PM', N'Active')
INSERT [dbo].[company_reg] ([CR_ID], [c_name], [c_email_Id], [password], [c_address], [c_website], [c_start], [c_title], [reg_time], [status]) VALUES (3, N'rajubhai104t@gmail.com', N'new', N'ddd', N'Noida utterpardesh', N'www.djfsdk', N'2007', N'ghgfh', N'Feb 22 2019  2:32PM', N'Active')
SET IDENTITY_INSERT [dbo].[company_reg] OFF
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([Cuntry_id], [Cuntry_name]) VALUES (1, N'India')
INSERT [dbo].[country] ([Cuntry_id], [Cuntry_name]) VALUES (2, N'U.s')
INSERT [dbo].[country] ([Cuntry_id], [Cuntry_name]) VALUES (3, N'Australia')
SET IDENTITY_INSERT [dbo].[country] OFF
SET IDENTITY_INSERT [dbo].[education] ON 

INSERT [dbo].[education] ([int], [University], [Degree], [Study_type], [start_year], [end_year], [discrption], [Email]) VALUES (19, N'Anna Unviersity', N'Master of Arts(M.A)', N'Software engenirring', 2008, 2009, N'ghfjghf', N'priyanshu101r@gmail.com')
INSERT [dbo].[education] ([int], [University], [Degree], [Study_type], [start_year], [end_year], [discrption], [Email]) VALUES (20, N'Banaras Hindu University', N'Bachelor of Computer Application(BCA)', N'electrical  engering', 2009, 2012, N'this is a computer since education', N'kamalrastogi865@gmail.com')
INSERT [dbo].[education] ([int], [University], [Degree], [Study_type], [start_year], [end_year], [discrption], [Email]) VALUES (1020, N'Indhra Ghandhi National Open University', N'Bachelor of Dental Surgery(B.D.S)', N'Madical Since', 2008, 2011, N'I am done Madical since education for dhardon', N'karan@gmail.com')
SET IDENTITY_INSERT [dbo].[education] OFF
SET IDENTITY_INSERT [dbo].[friend] ON 

INSERT [dbo].[friend] ([F_id], [send_email], [friend_email]) VALUES (2014, N'Kamalrastogi865@gmail.com', N'priyanshu101r@gmail.com')
INSERT [dbo].[friend] ([F_id], [send_email], [friend_email]) VALUES (2, N'priyanshu101r@gmail.com', N'Kamalrastogi865@gmail.com')
INSERT [dbo].[friend] ([F_id], [send_email], [friend_email]) VALUES (3, N'priyanshu101r@gmail.com', N'Kamalrastogi865@gmail.com')
SET IDENTITY_INSERT [dbo].[friend] OFF
SET IDENTITY_INSERT [dbo].[interview_question] ON 

INSERT [dbo].[interview_question] ([qes_id], [question], [answer], [question_type]) VALUES (1, N'What is the size of int Data type', N'The size of Int Data Type is 32667', N'programing skills Question')
INSERT [dbo].[interview_question] ([qes_id], [question], [answer], [question_type]) VALUES (2, N'What is the Constructor in java', N'Constructor is the same name as class name . it has no any return type . thare are three type of constructor in java ', N'Technical Interview Question')
INSERT [dbo].[interview_question] ([qes_id], [question], [answer], [question_type]) VALUES (3, N'What is the Constructor in java', N'Constructor is the same name as class name . it has no any return type . thare are three type of constructor in java ', N'Technical Interview Question')
SET IDENTITY_INSERT [dbo].[interview_question] OFF
SET IDENTITY_INSERT [dbo].[jobpost] ON 

INSERT [dbo].[jobpost] ([j_title], [j_discription], [work_ex], [annual], [vacancies], [location], [industry], [functional_area], [job_role], [company_name], [qualification], [Canidate_profile], [month_ex], [max_salary], [email_id], [job_id], [hr_name], [post_time]) VALUES (NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2002, N'priyaranjan sir', N'2019-03-20')
INSERT [dbo].[jobpost] ([j_title], [j_discription], [work_ex], [annual], [vacancies], [location], [industry], [functional_area], [job_role], [company_name], [qualification], [Canidate_profile], [month_ex], [max_salary], [email_id], [job_id], [hr_name], [post_time]) VALUES (N'Data Entery', N'Full Time and open time 8am to 7pm night', 1, 7000, 5, N'Chandni Chock', N'', N'Typing', N'Data Entery in Excel', N'power copration pvt.ltd', N'12 pass', N'Good Communication skills and 34 per word typing speed ', 2, 14000, N'jack@gmail.com', 2006, N'karan kumar', N'2019-03-24')
INSERT [dbo].[jobpost] ([j_title], [j_discription], [work_ex], [annual], [vacancies], [location], [industry], [functional_area], [job_role], [company_name], [qualification], [Canidate_profile], [month_ex], [max_salary], [email_id], [job_id], [hr_name], [post_time]) VALUES (N'Teaching', N'Full Time and open time 8am to 7pm night', 6, 5000, 2, N'Laxmi Nager', N'', N'good', N'Teaching', N'Avtar solution', N'Bca/Mca/Btech', N'good Communication Skills', 5, 10000, N'rajeshkhna@gmail.com', 1002, N'priyaranjan sir', N'2019-03-20')
SET IDENTITY_INSERT [dbo].[jobpost] OFF
SET IDENTITY_INSERT [dbo].[login_user] ON 

INSERT [dbo].[login_user] ([log_id], [email_Id], [password], [user_type], [status]) VALUES (27, N'apexcomputereducations@gmail.com', N'owner', N'admin', N'Active')
INSERT [dbo].[login_user] ([log_id], [email_Id], [password], [user_type], [status]) VALUES (1015, N'priyanshu101r@gmail.com', N'good', N'user', N'Active')
INSERT [dbo].[login_user] ([log_id], [email_Id], [password], [user_type], [status]) VALUES (1017, N'priyanshu101r@gmail.com', N'good', N'user', N'Active')
SET IDENTITY_INSERT [dbo].[login_user] OFF
SET IDENTITY_INSERT [dbo].[message] ON 

INSERT [dbo].[message] ([m_id], [email_id], [chat], [dis_id]) VALUES (1, N'priyanshu101r@gmail.com', N'hi', NULL)
INSERT [dbo].[message] ([m_id], [email_id], [chat], [dis_id]) VALUES (2, N'Kamalrastogi865@gmail.com', N'hello', NULL)
INSERT [dbo].[message] ([m_id], [email_id], [chat], [dis_id]) VALUES (3, N'priyanshu101r@gmail.com', N'hi', NULL)
SET IDENTITY_INSERT [dbo].[message] OFF
SET IDENTITY_INSERT [dbo].[notification] ON 

INSERT [dbo].[notification] ([n_id], [email_id], [message]) VALUES (5006, N'karan@gmail.com', N'karan Kumar updated our profile pic ')
SET IDENTITY_INSERT [dbo].[notification] OFF
INSERT [dbo].[post] ([email_id], [post_image], [send_time]) VALUES (N'priyanshu101r@gmail.com', N'postimage/.jpg', N'Feb 23 2019 10:56AM')
INSERT [dbo].[post] ([email_id], [post_image], [send_time]) VALUES (N'priyanshu101r@gmail.com', N'postimage/.jpg', N'Feb 23 2019 10:56AM')
INSERT [dbo].[post] ([email_id], [post_image], [send_time]) VALUES (N'priyanshu101r@gmail.com', N'postimage/448432270.jpg', N'Feb 23 2019 10:56AM')
SET IDENTITY_INSERT [dbo].[profile] ON 

INSERT [dbo].[profile] ([p_id], [Email_id], [profile_pic]) VALUES (9, N'priyanshu101r@gmail.com', N'ProfileImage/1878471802.jpg')
INSERT [dbo].[profile] ([p_id], [Email_id], [profile_pic]) VALUES (10, N'Kamalrastogi865@gmail.com', N'ProfileImage/1161750582.jpg')
INSERT [dbo].[profile] ([p_id], [Email_id], [profile_pic]) VALUES (11, N'karan@gmail.com', N'ProfileImage/1501108647.jpg')
SET IDENTITY_INSERT [dbo].[profile] OFF
SET IDENTITY_INSERT [dbo].[Registration_user] ON 

INSERT [dbo].[Registration_user] ([R_id], [f_name], [l_name], [Email], [password], [country], [Stat], [working_type], [company_name], [prof_type], [univer], [programe], [start_year], [end_year], [Registration_time], [clint_ipaddress], [city], [status]) VALUES (2035, N'priyanshu', N'rastogi', N'priyanshu101r@gmail.com', N'google', N'India', N'Uttar pradesh', N'Employee', N'Hcl pvt ltd.', N'job', NULL, NULL, N'2012', NULL, N'Feb 21 2019  9:09AM', N'your Ip Address is:::1', N'Ghazibad', N'disactive')
INSERT [dbo].[Registration_user] ([R_id], [f_name], [l_name], [Email], [password], [country], [Stat], [working_type], [company_name], [prof_type], [univer], [programe], [start_year], [end_year], [Registration_time], [clint_ipaddress], [city], [status]) VALUES (2036, N'kamal', N'rastogi', N'Kamalrastogi865@gmail.com', N'kirti', N'India', N'Uttar pradesh', N'Employee', N'Hcl pvt ltd.', N'job', NULL, NULL, N'2013', NULL, N'Feb 21 2019  3:31PM', N'your Ip Address is:::1', N'Ghazibad', N'disactive')
INSERT [dbo].[Registration_user] ([R_id], [f_name], [l_name], [Email], [password], [country], [Stat], [working_type], [company_name], [prof_type], [univer], [programe], [start_year], [end_year], [Registration_time], [clint_ipaddress], [city], [status]) VALUES (2037, N'karan', N'Kumar', N'karan@gmail.com', N'karan', N'India', N'Bihar', N'Employee', N'Google.pvt.ltd', N'job', NULL, NULL, N'2012', NULL, N'Mar 12 2019  6:19AM', N'your Ip Address is:::1', N'Samastipur', NULL)
SET IDENTITY_INSERT [dbo].[Registration_user] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([State_id], [State_name], [Cuntry_id]) VALUES (1, N'Uttar pradesh', 1)
INSERT [dbo].[State] ([State_id], [State_name], [Cuntry_id]) VALUES (2, N'Delhi', 1)
INSERT [dbo].[State] ([State_id], [State_name], [Cuntry_id]) VALUES (3, N'Punjab', 1)
SET IDENTITY_INSERT [dbo].[State] OFF
USE [master]
GO
